# 1.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rsah4\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rsah4\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rsah4\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rsah4\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\rsah4\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23,42]

In [11]:
series = pd.Series(data)

In [12]:
series.head()

0     4
1     8
2    15
3    16
4    23
dtype: int64

# 2.

In [14]:
data1 = ['pen', 'pencil','books','notebooks','calculator','eraser','compass','scale','pages','geomatry']

In [15]:
series1 = pd.Series(data1)

In [17]:
print(series1)

0           pen
1        pencil
2         books
3     notebooks
4    calculator
5        eraser
6       compass
7         scale
8         pages
9      geomatry
dtype: object

# 3.

In [19]:
data3 = {
    
'Name': ['Alice','Bob','Claire'], 'Age':[25,30,27], 'Gender':['Female','Male','Female'] 
}

In [20]:
df = pd.DataFrame(data3)

In [21]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# 4.

In Pandas, a DataFrame is a two-dimensional, size-mutable, and tabular data structure. It is the most commonly used data structure in Pandas and is similar to a spreadsheet or a SQL table. A DataFrame is essentially a collection of Pandas Series objects, where each column of the DataFrame is a Pandas Series, and these Series share a common index. This structure allows you to store and manipulate data in a convenient and efficient way.

Here's an example to illustrate the difference between a Pandas Series and a DataFrame:

In [23]:

# Creating a Pandas Series
s = pd.Series([1, 2, 3, 4, 5], name='A')

# Creating a Pandas DataFrame
data = {
    'ColumnA': [1, 2, 3, 4, 5],
    'ColumnB': ['A', 'B', 'C', 'D', 'E']
}
df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Pandas Series:")
print(s)
print("\nPandas DataFrame:")
print(df)

Pandas Series:
0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

Pandas DataFrame:
   ColumnA ColumnB
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E

# 5.

Pandas provides a wide range of functions and methods for manipulating data within a DataFrame.

 Data Selection and Filtering:

In [ ]:
    # Select rows where 'Age' is greater than 25
filtered_df = df[df['Age'] > 25]

Sorting Data:

In [ ]:
# Sort the DataFrame by the 'Age' column in descending order
sorted_df = df.sort_values(by='Age', ascending=False)

Merging and Joining Data

In [ ]:
# Concatenate two DataFrames vertically
concatenated_df = pd.concat([df1, df2], axis=0)

# 6.

Series: A Pandas Series is a one-dimensional, labeled array and is mutable in nature. You can change the values within a Series after it's created.

DataFrame: A Pandas DataFrame is a two-dimensional, labeled data structure and is also mutable. You can modify the data within a DataFrame, including adding, updating, or deleting rows and columns.

# 7.

To create a DataFrame using multiple Series in Pandas, you can combine these Series into a DataFrame where each Series represents a column in the DataFrame.

In [27]:

# Create multiple Pandas Series
series1 = pd.Series([1, 2, 3, 4], name='A')
series2 = pd.Series(['Alice', 'Bob', 'Charlie', 'David'], name='Name')
series3 = pd.Series([25, 30, 22, 28], name='Age')

# Combine the Series into a DataFrame
df = pd.DataFrame([series1, series2, series3])

# Transpose the DataFrame to have Series as columns
df = df.transpose()

# Print the resulting DataFrame
print(df)

   A     Name Age
0  1    Alice  25
1  2      Bob  30
2  3  Charlie  22
3  4    David  28