# 1.

In [1]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

# 2.

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x: x**2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 3.

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

string_tuple = tuple(map(lambda x: str(x), numbers))

print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# 4.

In [4]:
from functools import reduce

numbers = list(range(1, 26))

product = reduce(lambda x, y: x * y, numbers)

print(product)

15511210043330985984000000

# 5.

In [5]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

print(filtered_numbers)

[6, 60, 90, 120]

# 6.

In [6]:
strings = ['python', 'php', 'aba', 'radar', 'level']

palindrom = list(filter(lambda x: x == x[::-1], strings))

print(palindrom)

['php', 'aba', 'radar', 'level']